<header class="site-header header-transparent">
    <div class="top-bar" *ngIf="router.url === '/'">
        <div class="container">
            <div class="row">
                <div class="dlab-topbar-left">
                    <div>
                        <span>Vous etes connecté.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main header -->
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar clearfix ">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion" *ngIf="router.url !== '/'">
                    <a routerLink="/">
                        <div class="owl-prev"><i class="fa fa-home"></i></div>
                    </a>
                    <a href="javascript:window.history.go(-1)">
                        <div class="owl-prev"><i class="fa fa-angle-left"></i>- Page précédente.</div>
                    </a>
                </div>
                <!-- nav toggle button -->
                <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed" aria-expanded="false">
						<i class="fa fa-bars"></i>
					</button>
                <!-- extra nav -->
                <div class="extra-nav">
                    <div class="extra-cell ">
                        <!-- <div class="shop-cart navbar-right">
                            <button type="button" class="site-button-link cart-btn">
                                    <i class="fa fa-adjust"></i><span class="badge bg-primary"></span>
                                                        </button>
                            <app-extranav-menu></app-extranav-menu>
                        </div> -->
                    </div>
                </div>
                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse">
                    <app-header-nav></app-header-nav>
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->
</header>