<ul class="nav navbar-nav">
    <li> <a href="javascript:;">Mon espace candidature <i class="fa fa-chevron-down"></i></a>
        <ul class="sub-menu">
            <li><a routerLink="add-candidat">Créer mon CV</a></li>
            <li><a routerLink="['/edit-candidat/',candidats.id]">Modifier mon CV</a></li>
            <li><a routerLink="['/show-candidat/',candidats.id]">Visualiser mon CV</a></li>
        </ul>
    </li>
    <!-- <li> <a href="javascript:;">Admin <i class="fa fa-chevron-down"></i></a>
        <ul class="sub-menu">
            <li><a routerLink="">Admin</a></li>
            <li><a routerLink="add-candidat">Ajout</a>
            </li>
        </ul> -->
</ul>