<!-- Footer -->
<footer class="site-footer footer-full">
    <div class="p-tb60 bg-black">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 text-left footer-logo">
                    <img/>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-inline m-a0">
                        <li><a class="site-button white outline circle"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="site-button white outline circle"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="site-button white outline circle"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="site-button white outline circle"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <p class="max-w600 m-auto m-t10">Copyright © 2019</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END-->