<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 footer-col-4">
                <div class="widget widget_about">
                    <div class="logo-footer"><img src="#" alt=""></div>
                    <p class="m-tb20"><strong>CarZone</strong> is simply dummy text of the print ing and in type setting industry. Lorem Ipsum has bee the industry's standard...</p>
                    <ul class="dlab-contact-info">
                        <li><i class="flaticon-placeholder"></i>Demo Address #8901 Marmora Road Chi Minh City, Vietnam</li>
                        <li><i class="flaticon-customer-service"></i>Phone : 0800-123456 (24/7 Support Line)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 footer-col-4">
                <div class="widget widget_services">
                    <h4 class="m-b15 text-uppercase">Useful Links</h4>
                    <div class="dlab-separator bg-primary"></div>
                    <!-- <ul>
                        <li *ngFor="let user of users">
                            {{user.username}} - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 footer-col-4">
                <div class="widget recent-posts-entry">
                    <h4 class="m-b15 text-uppercase">recent posts </h4>
                    <div class="dlab-separator bg-primary"></div>
                    <div class="widget-post-bx">
                        <div class="widget-post clearfix">
                            <div class="dlab-post-media"> <img src="#" alt="" width="200" height="143"> </div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-header">
                                    <h5><a href="blog-single.html">Time to change...</a></h5>
                                </div>
                                <div class="dlab-post-meta">
                                    <ul>
                                        <li class="post-author">By Admin</li>
                                        <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-post clearfix">
                            <div class="dlab-post-media"> <img src="#" alt="" width="200" height="160"> </div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-header">
                                    <h5><a href="blog-single.html">Time to change...</a></h5>
                                </div>
                                <div class="dlab-post-meta">
                                    <ul>
                                        <li class="post-author">By Admin</li>
                                        <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-post clearfix">
                            <div class="dlab-post-media"> <img src="#" alt="" width="200" height="160"> </div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-header">
                                    <h5><a href="blog-single.html">Time to change...</a></h5>
                                </div>
                                <div class="dlab-post-meta">
                                    <ul>
                                        <li class="post-author">By Admin</li>
                                        <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <ul class="full-social-icon clearfix">
                <li class="fb col-md-3 col-sm-6 col-xs-6 m-b30">
                    <a href="#"><i class="fa fa-facebook"></i> Share On Facebook </a>
                </li>
                <li class="tw col-md-3 col-sm-6 col-xs-6 m-b30">
                    <a href="#"><i class="fa fa-twitter"></i> Tweet About it </a>
                </li>
                <li class="gplus col-md-3 col-sm-6 col-xs-6 m-b30">
                    <a href="#"><i class="fa fa-google-plus"></i> Google Plus | 78+ </a>
                </li>
                <li class="linkd col-md-3 col-sm-6 col-xs-6 m-b30">
                    <a href="#"><i class="fa fa-linkedin"></i> Linkedin | 21k </a>
                </li>
            </ul>
        </div>
    </div>
</div>