<div class="section-full bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="road-price">
                    <form [formGroup]="updateCandidatForm" (ngSubmit)="submitForm()" novalidate>
                        <div class="form-head bg-primary text-white">
                            <h3>Edit Candidat</h3>
                        </div>
                        <h4>Informations Personnel</h4>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <input type="text" formControlName="firstname" placeholder="Votre Nom" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <input type="text" formControlName="lastname" placeholder="Votre prénom" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <input type="text" formControlName="email" placeholder="Votre E-mail" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <!-- bind sur la valeur [] (on peu bind sur l'event -> ())-->
                                    <input [ngModel]="startDate | date:'dd-MM-yyyy'" formControlName="date_of_birth" (ngModelChange)="startDate = $event" type="date" name="date_of_birth" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="input-group">
                                    <input type="text" formControlName="adress" placeholder="Votre Adresse" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <input type="text" formControlName="town" placeholder="Votre ville" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="input-group">
                                    <input type="text" formControlName="zipcode" placeholder="Votre code postal" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="input-group">
                                    <input type="text" formControlName="short_description" placeholder="Votre description" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <h4>Langues</h4>
                        <h4>Permis</h4>
                        <h4>Parcours Scolaire</h4>
                        <h4>Experiences professionnelles</h4>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>