<!-- <nav class="navbar navbar-expand navbar-dark bg-dark toolbar">
    <div class="navbar-nav">
        <div class="left">
            <a class="nav-item nav-link" (click)="logout()">Deconnexion</a>
        </div>
        <div class="right">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" routerLink="/">Créer mon CV</a>
            <a class="nav-item nav-link" routerLink="/">Visualiser mon CV</a>
            <a class="nav-item nav-link" routerLink="/candidats-list">Liste</a>
            <a class="nav-item nav-link" routerLink="/add-candidat">Ajout</a>
        </div>
    </div>
</nav> -->

<!-- header -->
<header class="site-header header dark">
    <!-- main header -->
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar clearfix ">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion">
                </div>
                <!-- nav toggle button -->
                <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed" aria-expanded="false"> 
						<i class="flaticon-menu"></i>
					</button>
                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li> <a routerLink="/">Home</a></li>
                        <li> <a href="javascript:;">Mon espace candidature <i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a routerLink="/">Créer mon CV</a></li>
                                <li><a routerLink="/">Visualiser mon CV</a></li>
                                <!-- <li><a href="header-style-transparent.html">Transparent</a></li>
                                <li>
                                    <a href="javascript:;">Full Width <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-menu left">
                                        <li><a href="header-style-full.html">Light</a></li>
                                        <li><a href="header-style-dark-full.html">Dark</a></li>
                                        <li><a href="header-style-transparent-full.html">Transparent</a></li>
                                    </ul>
                                </li> -->
                                <!-- <li>
                                    <a href="javascript:;">Top Bar <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-menu left">
                                        <li><a href="header-style-topbar.html">Light</a></li>
                                        <li><a href="header-style-dark-topbar.html">Dark</a></li>
                                        <li><a href="header-style-transparent-topbar.html">Transparent</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Overlay <i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-menu left">
                                        <li><a href="header-style-overlay.html">Overlay </a></li>
                                        <li><a href="header-style-overlay-full.html">Overlay Full Width</a></li>
                                        <li><a href="header-style-overlay-topbar.html">Overlay Top Bar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Colored Headers<i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-menu left">
                                        <li><a href="header-style-bg-primary.html">Primary</a></li>
                                        <li><a href="header-style-bg-blue.html">Blue</a></li>
                                        <li><a href="header-style-bg-purpal.html">Purpal </a></li>
                                        <li><a href="header-style-bg-red.html">Red</a></li>
                                        <li><a href="header-style-bg-yellow.html">Yellow </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Top Bar Background<i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-menu left">
                                        <li><a href="header-style-topbar-primary.html">Primary</a></li>
                                        <li><a href="header-style-topbar-light.html">Light </a></li>
                                        <li><a href="header-style-topbar-dark.html">Dark</a></li>
                                        <li><a href="header-style-topbar-black.html">Black</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">Fancy<i class="fa fa-angle-right"></i></a>
                                    <ul class="sub-menu left">
                                        <li><a href="header-style-box.html">Fancy Light</a></li>
                                        <li><a href="header-style-box-dark.html">Fancy Dark </a></li>
                                        <li><a href="header-style-box-overlay.html">Fancy Transparent</a></li>
                                    </ul>
                                </li>
                                <li><a href="header-style-no-sticky.html">No Sticky</a></li>
                                <li><a href="header-style-curve.html">Header Curve</a></li>
                                <li><a href="header-style-onepage.html">One Page</a></li>
                                <li><a href="header-left-side.html">Left Nav</a></li>
                                <li><a href="header-center.html">Logo Center</a></li> -->
                            </ul>
                        </li>
                        <li> <a href="javascript:;">Admin <i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a routerLink="/candidats-list">Liste</a></li>
                                <li><a routerLink="/add-candidat">Ajout</a>
                                    <!-- <li><a href="footer-3.html">Footer 3</a></li>
                                <li><a href="footer-4.html">Footer 4</a></li>
                                <li><a href="footer-5.html">Footer 5</a></li>
                                <li><a href="footer-6.html">Footer 6</a></li>
                                <li><a href="footer-7.html">Footer 7</a></li>
                                <li><a href="footer-8.html">Footer 8</a></li>
                                <li><a href="footer-9.html">Footer 9</a></li>
                                <li><a href="footer-10.html">Footer 10</a></li> -->
                            </ul>
                            </li>
                            <!-- <li class="has-mega-menu "> <a href="javascript:;">Admin<i class="fa fa-chevron-down"></i></a>
                            <ul class="mega-menu">
                                <li> <a href="javascript:;">Element</a>
                                    <ul>
                                        <li><a href="shortcode-buttons.html">Buttons</a></li>
                                        <li><a href="shortcode-icon-box-styles.html">Icon box styles</a></li>
                                        <li><a href="shortcode-pricing-table.html">Pricing table</a></li>
                                        <li><a href="shortcode-toggles.html">Toggles</a></li>
                                        <li><a href="shortcode-team.html">Team</a></li>
                                    </ul>
                                </li>
                                <li> <a href="javascript:;">Element</a>
                                    <ul>
                                        <li><a href="shortcode-carousel-sliders.html">Carousel sliders</a></li>
                                        <li><a href="shortcode-image-box-content.html">Image box content</a></li>
                                        <li><a href="shortcode-tabs.html">Tabs</a></li>
                                        <li><a href="shortcode-counters.html">Counters</a></li>
                                        <li><a href="shortcode-all-widgets.html">Widgets</a></li>
                                    </ul>
                                </li>
                                <li> <a href="javascript:;">Element</a>
                                    <ul>
                                        <li><a href="shortcode-accordians.html">Accordians</a></li>
                                        <li><a href="shortcode-dividers.html">Dividers</a></li>
                                        <li><a href="shortcode-images-effects.html">Images effects</a></li>
                                        <li><a href="shortcode-testimonials.html">Testimonials</a></li>
                                        <li><a href="shortcode-all-widgets.html">Widgets</a></li>
                                    </ul>
                                </li>
                                <li> <a href="javascript:;">Element</a>
                                    <ul>
                                        <li><a href="shortcode-alert-box.html">Alert box</a></li>
                                        <li><a href="shortcode-icon-box.html">Icon-box</a></li>
                                        <li><a href="shortcode-list-group.html">List group</a></li>
                                        <li><a href="shortcode-title-separators.html">title-separators</a></li>
                                        <li><a href="shortcode-all-widgets.html">Widgets</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> -->
                            <li> <a (click)="logout()">Deconnexion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->
</header>
<!-- header END -->