<header class="site-header header dark">
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar clearfix onepage">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion">
                </div>
                <!-- nav toggle button -->
                <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed" aria-expanded="false"> 
						<i class="flaticon-menu"></i>
					</button>
                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li> <a routerLink="/">Home</a></li>
                        <li> <a href="javascript:;">Mon espace candidature <i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a routerLink="/">Créer mon CV</a></li>
                                <li><a routerLink="/">Visualiser mon CV</a></li>
                            </ul>
                        </li>
                        <li> <a href="javascript:;">Admin <i class="fa fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a routerLink="/candidats-list">Liste</a></li>
                                <li><a routerLink="/add-candidat">Ajout</a>
                                </li>
                            </ul>
                            <li> <a (click)="logout()">Deconnexion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>