/*=========================
	All css
==========================*/
@import url("bootstrap.min.css");
@import url("fontawesome/css/font-awesome.min.css");
@import url("flaticon/css/flaticon.css");
@import url("owl.carousel.css");
@import url("bootstrap-select.min.css");
@import url("animate.min.css");
@import url("../plugins/rangeslider/rangeslider.css");
@import url("../plugins/scroll/scrollbar.css");