<div class="section-full bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="road-price">
                    <form [formGroup]="candidatForm" (ngSubmit)="submitForm()">
                        <div class="form-head bg-primary text-white">
                            <h3 class="m-a0">Créer votre CV </h3>
                        </div>
                        <div formArrayName="Candidat">
                            <div *ngFor="let X of candidatForm['controls'].Candidat['controls']; let ix=index;">
                                <div formGroupName="{{ix}}" class="Candidat">
                                    <h4>Informations Personnelles</h4>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" formControlName="firstname" placeholder="Votre Nom" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" formControlName="lastname" placeholder="Votre prénom" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" formControlName="email" placeholder="Votre E-mail" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input [ngModel]="date_of_birth | date:'dd-MM-yyyy'" formControlName="date_of_birth" type="date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group">
                                                <input type="text" formControlName="adress" placeholder="Votre Adresse" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" formControlName="town" placeholder="Votre ville" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" formControlName="zipcode" placeholder="Votre code postal" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group">
                                                <input type="text" formControlName="short_description" placeholder="Votre Description" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Parcours Scolaire -->
                                    <!-- <div formArrayName="Langue">
                                        <h5>Langue</h5>
                                        <div *ngFor="let L of X['controls'].Langue['controls']; let iy=index">
                                            <div formGroupName="{{iy}}" class="Langue">
                                                <input type="text" formControlName="L1">
                                                <p> {{ formErrors.Candidat[ix].Langue[iy].L1 }}</p>
                                            </div>
                                        </div>
                                        <input type="button" (click)="addL(ix)" value="Add L">
                                        <button type="button" (click)="delL(ix)">Delete</button>
                                    </div> -->
                                    <!-- Parcours Scolaire End-->
                                    <!-- Parcours Scolaire -->
                                    <div formArrayName="School" id="schools">
                                        <h5>Parcours Scolaire</h5>
                                        <div *ngFor="let Y of X['controls'].School['controls']; let iy=index">
                                            <div formGroupName="{{iy}}" class="School">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" formControlName="Y1" placeholder="Nom de l'école" class="form-control" />
                                                            <p> {{ formErrors.Candidat[ix].School[iy].Y1 }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" formControlName="Y2" placeholder="Date d'obtention" class="form-control" />
                                                            <p>{{ formErrors.Candidat[ix].School[iy].Y2 }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Diplome -->
                                                <div formArrayName="Zs">
                                                    <h6>Diplomes</h6>
                                                    <div *ngFor="let Z of Y['controls'].Zs['controls']; let iz=index">
                                                        <div formGroupName="{{iz}}" class="Zs">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12">
                                                                    <div class="input-group">
                                                                        <input type="text" formControlName="Z" placeholder="Nom du diplome" class="form-control" />
                                                                        <p>{{ formErrors.Candidat[ix].School[iy].Zs[iz].Z }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input class="site-button green m-r15" type="button" (click)="addZ(ix,iy)" value="Ajouter Diplome">
                                                    <button class="site-button red m-r15" type="button" (click)="delZ(ix, iy)" id="delete">Supprimer</button>
                                                </div>
                                                <!-- Diplome End -->
                                            </div>
                                        </div>
                                        <input class="site-button green m-r15" type="button" (click)="addY(ix)" value="Ajouter Ecole">
                                        <button class="site-button red m-r15" type="button" (click)="delY(ix)" id="delete">Supprimer</button>
                                    </div>
                                    <!-- Parcours Scolaire End-->
                                    <!-- Parcours Professionel -->
                                    <div formArrayName="Company">
                                        <h5>Parcours Professionel</h5>
                                        <div *ngFor="let C of X['controls'].Company['controls']; let iy=index">
                                            <div formGroupName="{{iy}}" class="Company">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" formControlName="C1" placeholder="Nom Entreprise" class="form-control" />
                                                            <p> {{ formErrors.Candidat[ix].Company[iy].C1 }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" formControlName="C2" placeholder="Date" class="form-control" />
                                                            <p>{{ formErrors.Candidat[ix].Company[iy].C2 }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- activité -->
                                                <div formArrayName="Cs">
                                                    <h6>Secteur d'activité</h6>
                                                    <div *ngFor="let D of C['controls'].Cs['controls']; let iz=index">
                                                        <div formGroupName="{{iz}}" class="Cs">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12">
                                                                    <div class="input-group">
                                                                        <input type="text" formControlName="D" placeholder="Nom du Secteur" class="form-control" />
                                                                        <p>{{ formErrors.Candidat[ix].Company[iy].Cs[iz].C }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input class="site-button green m-r15" type="button" (click)="addD(ix,iy)" value="Ajouter Secteur d'activité">
                                                    <button class="site-button red m-r15" type="button" (click)="delD(ix, iy)" id="delete">Supprimer</button>
                                                </div>
                                                <!-- activité End -->
                                            </div>
                                        </div>
                                        <input class="site-button green m-r15" type="button" (click)="addC(ix)" value="Ajouter Entreprise">
                                        <button class="site-button red m-r15" type="button" (click)="delC(ix)" id="delete">Supprimer</button>
                                    </div>
                                    <!-- Parcours Professionel End-->
                                </div>
                            </div>
                            <!-- <input type="button" (click)="addX()" value="Add X">
                            <button type="button" (click)="delX()">Delete</button> -->
                        </div>

                        <h4>Langues</h4>

                        <h4>Permis</h4>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<h5>Field Values</h5>
<pre style="font-size:15px">{{ candidatForm.value | json }}</pre>