<div class="content-area">
    <!-- Career -->
    <div class="container" *ngIf="candidat">
        <!-- Left part start -->
      <div class="blog-post blog-single">
        <div class="dlab-post-title ">
          <h3 class="post-title"><a href="#">{{candidat.firstname}} {{candidat.lastname}}</a></h3>
          <blockquote>{{ candidat.short_description }}</blockquote>
        </div>
        <div class="section-head text-center head-1">
          <h3 class="h3 text-uppercase">Experiences</h3>
          <div class="dlab-separator bg-gray-dark"></div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
        </div>
        <div class="section-head text-center head-1">
          <h3 class="h3 text-uppercase">Formation</h3>
          <div class="dlab-separator bg-gray-dark"></div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 m-b30">
                <div class="icon-bx-wraper bx-style-1 p-a30 center">
                    <div class="icon-xl text-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-map-marker"></i></a> </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Address</h5>
                        <p>{{ candidat.adress }}, {{ candidat.zipcode }} {{ candidat.town }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 m-b30">
                <div class="icon-bx-wraper bx-style-1 p-a30 center">
                    <div class="icon-xl text-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-envelope"></i></a> </div>
                    <div class="icon-content">
                        <h5 class="dlab-tilte text-uppercase">Email</h5>
                        <p>{{ candidat.email }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
          <button type="button" class="btn btn-success" [routerLink]="['/edit-candidat/', candidat.id]">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteCandidat(candidat)">Remove</button>
        </div>
    </div>
</div>
</div>
