<app-header *ngIf="currentUser"></app-header>
<div class="page-wraper">
    <div id="loading-area"></div>
    <div class="section- full about-us bg-white content-inner-2">
        <div class="about-us bg-white">
            <div class="container">
                <div class="row">
                    <alert></alert>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</div>
<app-footer></app-footer>
