<router-outlet></router-outlet>
<nav class="navbar navbar-expand navbar-dark bg-dark toolbar" *ngIf="currentUser">
    <div class="navbar-nav">
      <div class="left">
        <a class="nav-item nav-link" (click)="logout()">Deconnexion</a>
      </div>
      <div class="right">
        <a class="nav-item nav-link" routerLink="/">Créer mon CV</a>
        <a class="nav-item nav-link" routerLink="/">Visualiser mon CV</a>
      </div>
    </div>
</nav>
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
