<ul class="dropdown-menu cart-list">
    <li class="cart-item" routerLinkActive="active">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="media-body">
                <h6><a routerLink="school-list">Ecoles</a></h6>
            </div>
        </div>
    </li>
    <li class="cart-item" routerLinkActive="active">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-building"></i>
            </div>
            <div class="media-body">
                <h6><a routerLink="company-list">Entreprises</a></h6>
            </div>
        </div>
    </li>
    <li class="cart-item" routerLinkActive="active">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-align-center"></i>
            </div>
            <div class="media-body">
                <h6><a routerLink="activity-list">Secteur d'activité</a></h6>
            </div>
        </div>
    </li>
    <li class="cart-item" routerLinkActive="active">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-address-card"></i>
            </div>
            <div class="media-body">
                <h6><a routerLink="licence-list">Permis</a></h6>
            </div>
        </div>
    </li>
    <li class="cart-item" routerLinkActive="active">
        <div class="media">
            <div class="media-left">
                <i class="fa fa-certificate"></i>
            </div>
            <div class="media-body">
                <h6><a routerLink="diplome-list">Diplome</a></h6>
            </div>
        </div>
    </li>
</ul>