<div class="section-full bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="road-price">
                    <form [formGroup]="candidatForm" (ngSubmit)="submitForm()" novalidate>
                        <div class="form-head bg-primary text-white">
                            <h3 class="m-a0">Créer votre CV </h3>
                        </div>
                        <div formArrayName="candidat">
                            <div *ngFor="let X of candidatForm['controls'].candidat['controls']; let ix=index;">
                                <div formGroupName="{{ix}}" class="candidat">
                                    <div class="sort-title clearfix text-center">
                                        <h4>Informations Personnelles</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" formControlName="firstname" placeholder="Votre Nom" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" formControlName="lastname" placeholder="Votre prénom" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" formControlName="email" placeholder="Votre E-mail" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                              <input [ngModel]="date_of_birth | date:'dd-MM-yyyy'" formControlName="date_of_birth" type="date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group">
                                                <input type="text" formControlName="adress" placeholder="Votre Adresse" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" formControlName="town" placeholder="Votre ville" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" formControlName="zipcode" placeholder="Votre code postal" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group">
                                                <input type="text" formControlName="short_description" placeholder="Votre Description" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Langue -->
                                    <div class="dlab-divider divider-4px  bg-black"><i class="icon-dot c-square"></i></div>
                                    <div formArrayName="langues" id="langues">
                                        <div class="sort-title clearfix text-center">
                                            <h4>Langues</h4>
                                        </div>
                                        <div *ngFor="let L of X['controls'].langues['controls']; let ic=index">
                                            <div formGroupName="{{ic}}" class="langues">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" formControlName="name" placeholder="Nom de la langue" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" formControlName="level" placeholder="Niveau" class="form-control" />
                                                            <p>{{ formErrors.candidat[ix].langues[ic].level }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input class="site-button green m-r15" type="button" (click)="addLangue(ix)" value="Ajouter Langue">
                                        <button class="site-button red m-r15 delete" type="button" (click)="delLangue(ix)">Supprimer</button>
                                    </div>
                                    <!-- Langue End-->
                                    <!-- Permis -->
                                    <div class="dlab-divider divider-4px  bg-black"><i class="icon-dot c-square"></i></div>
                                    <div formArrayName="licenses" id="licenses">
                                        <div class="sort-title clearfix text-center">
                                            <h4>Permis</h4>
                                        </div>
                                        <div *ngFor="let L of X['controls'].licenses['controls']; let id=index">
                                            <div formGroupName="{{id}}" class="licenses">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" formControlName="name" placeholder="Nom du permis" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            <span>Date d'obtention</span>
                                                          <input [ngModel]="date_obtention | date:'dd-MM-yyyy'" formControlName="date_obtention" type="date" />
                                                            <p>{{ formErrors.candidat[ix].licenses[id].date_obtention }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input class="site-button green m-r15" type="button" (click)="addLicense(ix)" value="Ajouter un Permis">
                                        <button class="site-button red m-r15 delete" type="button" (click)="delLicense(ix)">Supprimer</button>
                                    </div>
                                    <!-- Permis End-->
                                    <!-- Parcours Scolaire -->
                                    <div class="dlab-divider divider-4px  bg-black"><i class="icon-dot c-square"></i></div>
                                    <div formArrayName="schools" id="schools">
                                        <div class="sort-title clearfix text-center">
                                            <h4>Parcours Scolaire</h4>
                                        </div>
                                        <div *ngFor="let Y of X['controls'].schools['controls']; let iy=index">
                                            <div formGroupName="{{iy}}" class="schools">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" formControlName="name" placeholder="Nom de l'école" class="form-control" />
                                                            <p> {{ formErrors.candidat[ix].schools[iy].name }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Formation -->
                                                <div class="dlab-divider divider-4px bg-gray-dark"><i class="icon-dot c-square"></i></div>
                                                <div formArrayName="formations" class="formations">
                                                    <div class="sort-title clearfix text-center">
                                                        <h5>Formation</h5>
                                                    </div>
                                                    <div *ngFor="let Z of Y['controls'].formations['controls']; let iz=index">
                                                        <div formGroupName="{{iz}}" class="formations">
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="input-group">
                                                                        <input type="text" formControlName="name" placeholder="Nom de la formation" class="form-control" />
                                                                        <p>{{ formErrors.candidat[ix].schools[iy].formations[iz].name }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input class="site-button green m-r15" type="button" (click)="addFormation(ix,iy)" value="Ajouter Formation">
                                                    <button class="site-button red m-r15 delete" type="button" (click)="delFormation(ix, iy)">Supprimer</button>
                                                </div>
                                                <!-- Formation End -->
                                            </div>
                                        </div>
                                        <input class="site-button green m-r15" type="button" (click)="addSchool(ix)" value="Ajouter Ecole">
                                        <button class="site-button red m-r15 delete" type="button" (click)="delSchool(ix)">Supprimer</button>
                                    </div>
                                    <!-- Parcours Scolaire End-->
                                    <!-- Parcours Professionel -->
                                    <div class="dlab-divider divider-4px  bg-black"><i class="icon-dot c-square"></i></div>
                                    <div formArrayName="companies">
                                        <div class="sort-title clearfix text-center">
                                            <h4>Parcours Professionel</h4>
                                        </div>
                                        <div *ngFor="let C of X['controls'].companies['controls']; let ia=index">
                                            <div formGroupName="{{ia}}" class="companies">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="input-group">
                                                            <input type="text" formControlName="name" placeholder="Nom Entreprise" class="form-control" />
                                                            <p> {{ formErrors.candidat[ix].companies[ia].name }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- activité -->
                                                <div class="dlab-divider divider-4px bg-gray-dark"><i class="icon-dot c-square"></i></div>
                                                <div formArrayName="activity_areas" class="secteur">
                                                    <div class="sort-title clearfix text-center">
                                                        <h5>Secteur d'activité</h5>
                                                    </div>
                                                    <div *ngFor="let D of C['controls'].activity_areas['controls']; let ib=index">
                                                        <div formGroupName="{{ib}}" class="activity_areas">
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="input-group">
                                                                        <input type="text" formControlName="name" placeholder="Nom du Secteur" class="form-control" />
                                                                        <p>{{ formErrors.candidat[ix].companies[ia].activity_areas[ib].name }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input class="site-button green m-r15" type="button" (click)="addActivityArea(ix,ia)" value="Ajouter Secteur d'activité">
                                                    <button class="site-button red m-r15 delete" type="button" (click)="delActivityArea(ix, ia)">Supprimer</button>
                                                </div>
                                                <!-- activité End -->
                                            </div>
                                        </div>
                                        <input class="site-button green m-r15" type="button" (click)="addCompany(ix)" value="Ajouter Entreprise">
                                        <button class="site-button red m-r15 delete" type="button" (click)="delCompany(ix)">Supprimer</button>
                                    </div>
                                    <!-- Parcours Professionel End-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<h5>Valeurs de l'objet candidat</h5>
<pre style="font-size:15px">{{ candidatForm.value | json }}</pre> -->
