.candidat {
    .formations {
        background-color: #dad8d8;
        margin-bottom: 10px;
    }
    .secteur {
        background-color: #dad8d8;
        margin-bottom: 10px;
    }
    .schools,
    .companies,
    .langues,
    p {
        padding: 0 10px;
        margin: 10px;
    }
    input {
        margin: 10px;
    }
    input[type="button"],
    p {
        margin-top: 0px;
    }
    .schools,
    .companies {
        border: gray solid 1px;
    }
    .delete {
        float: right;
    }
}
