<div class="page-content">
    <!-- About -->
    <div class="section-full p-t50 bg-white content-inner-1">
        <div class="container">
            <div class="section-head text-center head-1">
                <h3 class="h3 text-uppercase">Liste des Ecoles. </h3>
                <div class="dlab-separator bg-gray-dark"></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2 class="m-b10"></h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.</p>
                    <div class="dlab-accordion space" id="accordion1">
                        <div class="panel">
                            <div class="acod-head">
                                <h6 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseOne1" data-parent="#accordion1">
                                        <i class="fa fa-question-circle"></i> Can I Get A Refund?
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseOne1" class="acod-body collapse in">
                                <div class="acod-content">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                    diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processu</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h6 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseTwo1" class="collapsed" data-parent="#accordion1">
                                        <i class="fa fa-question-circle"></i> Showcase Items with a Referral Widget
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseTwo1" class="acod-body collapse">
                                <div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h6 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseThree1" class="collapsed" data-parent="#accordion1">
                                        <i class="fa fa-question-circle"></i> Where Can I Find my Purchase Code?
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseThree1" class="acod-body collapse">
                                <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h6 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseFor1" class="collapsed" data-parent="#accordion1">
                                        <i class="fa fa-question-circle"></i> Showcase Items with a Referral Widget
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseFor1" class="acod-body collapse">
                                <div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h6 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseFive1" class="collapsed" data-parent="#accordion1">
                                        <i class="fa fa-question-circle"></i> Where Can I Find my Purchase Code?
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseFive1" class="acod-body collapse">
                                <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit,
                                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>