<div class="page-content">
    <div class="section-full p-t50 bg-white content-inner">
        <div class="container">
            <div class="section-head text-center head-1">
                <h3 class="h3 text-uppercase">Liste des Entreprises. </h3>
                <div class="dlab-separator bg-gray-dark"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 m-b30" *ngFor="let company of CompanyList">
                    <div class="icon-bx-wraper bx-style-1 p-a30 center">
                        <div class="icon-bx-sm radius bg-primary m-b20"> <a href="#" class="icon-cell"><i class="flaticon-dashboard"></i></a> </div>
                        <div class="icon-content">
                            <h5 class="dlab-tilte text-uppercase">{{company.name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>